.menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  left: 0;
  top: 88px;
  z-index: 3;

  .title {
    font-size: 30px;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 10px;  
    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
  }

  ul {
    text-align: center;
    .active {
      li {
        background-color: #fff;
        color: #000;
      }
    }
    li {
      cursor: pointer;
      margin: 10px;
      padding: 10px;
      font-size: 20px;
      border-radius: 10px;

      &:hover {
        transition: .15s ease-in-out;
        background-color: #fff;
        color: #000;
        border: none;
      }

      &:active {
        background-color: #282c34;
      }
      @media screen and (max-width: 400px) {
        font-size: 16px;
        width: 200px;
      }
    }
  }
}


