.introduction {
  text-align: center;
}
.main {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  a {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 2px;
    font-weight: 600;
    border-radius: 2px;
    &:hover {
      background-color: #000;
      color: #fff;
      transition: .3s ease-in-out;
    }
  }
  p {
    background-color: #0d6efd;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
  }
}

